/* Sidebar base styles */
.sidebar {
  display: flex;
  flex-direction: column;
  top: 0;
  width: 250px;
  height: calc(100vh - 70px);
  background-color: #2f3136;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 20px;
  /* transform: translateX(-100%);
  transition: transform 0.3s ease-in-out; */
}

/* Direct Messages list styles */
.dm_list {
  margin-top: 20px;
}

/* Each Direct Message item */
.dm_item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #40444b;
  cursor: pointer;
}

/* Profile icon styles */
.profile_icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Direct Message content styles */
.dm_content {
  flex-grow: 1;
}

.dm_content p {
  margin: 0;
}

.home_screen_container {
  width: calc(100vw - 340px);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(54, 57, 63);
}

.handshake {
  color: white;
  font-size: 150px;
}

.title_text {
  color: white;
  padding: 16px;
  font-size: 100px;
}
