.profile_card_container {
  /* outline: 2px solid limegreen; */
  border-top: 2px solid black;
  position: absolute;
  bottom: 0px;
  height: 70px;
  width: 250px;
  left: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2b2d31;
}

.left_section {
  display: flex;
  align-items: center;
  padding: 8px;
}

.picture {
  margin-left: 8px;
  width: 45px;
  height: 45px;
  background-color: orangered;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
}

.username {
  padding: 16px;
  color: rgb(181, 181, 181);
}

.logout_button_container {
  padding: 16px;
}

.logout_button {
  color: rgb(182, 182, 182);
  font-size: 30px;

  &:hover {
    color: white;
    cursor: pointer;
  }
}
