.server {
  &:hover {
    background-color: gray;
  }
}

.channels_container {
  all: unset;
  width: 250px;
  display: flex;
  flex-direction: column;
  background-color: #2b2d31;
  height: calc(100vh - 70px);
  z-index: 100;
  & > li {
    list-style: none;
  }
}

.server_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  font-size: 30px;
  padding: 16px;
  margin-right: 16px;
  border-bottom: 2px solid rgb(24, 24, 24);
  margin-bottom: 8px;
}

.server_name {
  width: 80%;
  height: 25px;
  font-size: 25px;
  white-space: nowrap;
  color: white;
  overflow-x: hidden;
}

.arrow {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 35px;

  &:hover {
    background-color: rgb(73, 73, 73);
  }
}

.server_menu_container {
  display: flex;
  position: absolute;
  left: 127px;
  top: 50px;
  height: 180px;
  width: 200px;
  border-radius: 10px;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  padding: 8px;
}

.server_menu_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: unset;
  border-radius: 5px;
  font-size: 16px;
  padding: 8px;
  &:hover {
    background-color: #5865f2;
  }
}

.server_menu_button {
  & > span {
    color: rgb(200, 200, 200);
    font-size: 16px;
  }

  & > .server_menu_button_symbol {
    color: rgb(200, 200, 200);
    font-size: 25px;
  }
}

.channel_item,
.channel_item_selected {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 8px;
  margin: 2px 8px;
  height: 50px;
  border-radius: 10px;
  text-overflow: clip;
  cursor: pointer;
}

.channel_item:hover,
.channel_item_selected {
  background-color: rgb(78, 78, 78);
  & > .channel_name_text {
    color: white;
  }
}

.channel_gear_button {
  display: none;
  color: gray;
}

.channel_item:hover .channel_gear_button,
.channel_item_selected:hover .channel_gear_button {
  display: block;
}

.channel_dropdown {
  display: none;
}

.channel_item:hover .channel_dropdown,
.channel_item_selected:hover .channel_dropdown {
  display: block;
  position: relative;
  right: 50px;
  width: 0;
  height: 0;
}

.channel_menu_container {
  position: absolute;
  z-index: 10;
  border-radius: 10px;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  padding: 8px;
  width: 200px;
}

.hashtag_symbol_inside_channel {
  color: gray;
  margin-right: 8px;
  font-size: 30px;
}

.channel_name_text {
  color: gray;
  font-size: 24px;
}

.right_container {
  display: flex;
  width: calc(100vw - 340px);
  height: 100vh;
}

.messages_page_sizing_container {
  width: calc(100vw - 605px);
}
