.members_container {
  padding: 10px;
}

.members_container h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.members_container ul {
  list-style: none;
  padding: 0;
}

.members_container li {
  margin-bottom: 5px;
}

.member_delete {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: grey; 
}
