.server {
  &:hover {
    background-color: gray;
  }
}

.channels_container {
  all: unset;
  width: 250px;
  display: flex;
  flex-direction: column;
  background-color: #2b2d31;
  height: calc(100vh - 70px);
  & > li {
    list-style: none;
  }
}

.server_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  font-size: 30px;
  padding: 16px;
  margin-right: 16px;
  border-bottom: 2px solid rgb(24, 24, 24);
  margin-bottom: 8px;
}

.server_name {
  width: 80%;
  color: white;
  overflow-y: hidden;
  overflow-x: hidden;
}

.arrow {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;

  &:hover {
    background-color: rgb(73, 73, 73);
  }
}

.server_menu_container {
  display: flex;
  position: absolute;
  left: 127px;
  top: 70px;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  padding: 8px;
}

.create_channel_button,
.delete_server_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: unset;
  border-radius: 5px;
  font-size: 16px;
  padding: 8px;
  &:hover {
    background-color: #5865f2;
  }
}

.create_channel_button {
  & > span {
    color: rgb(200, 200, 200);
    font-size: 16px;
  }

  & > .create_channel_plus_symbol {
    color: rgb(200, 200, 200);
    font-size: 25px;
  }
}

.channel_item,
.channel_item_selected {
  padding: 8px;
  margin: 2px 8px;
  height: 50px;
  border-radius: 10px;
  overflow-y: hidden;
  overflow-x: hidden;
  cursor: pointer;
}

.channel_item:hover,
.channel_item_selected {
  background-color: rgb(78, 78, 78);
  & > .channel_name_text {
    color: white;
  }
}

.hashtag_symbol_inside_channel {
  color: gray;
  margin-right: 8px;
  font-size: 30px;
}

.channel_name_text {
  color: gray;
  font-size: 24px;
}

.members_container {
  width: 250px;
  display: flex;
  flex-direction: column;
  background-color: #2b2d31;
  height: calc(100vh - 70px);
  border-left: 2px solid rgb(24, 24, 24);
  padding: 10px;
  position: fixed;
  right: 0;
  top: 70px;
  & > li {
    list-style: none;
  }
}
