.message-item {
  position: relative;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #2f3136;
  border-radius: 8px;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  color: white;
}

.message-item:hover {
  background-color: #36393f;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}

.message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-header .user-name {
  font-size: 1.2em;
  color: white;
}

.message-header .timestamp {
  font-size: 0.85em;
  color: #72767d;
}

.message-content {
  margin-top: 5px;
  display: block;
  color: white;
}

.message-text {
  display: block;
  color: white;
  margin-top: 5px;
}

.emoji-picker-button {
  display: none;
  margin-right: 50px;
}

.message-item:hover .emoji-picker-button {
  display: inline-block;
}

.message-item:hover .edit-icon {
  display: inline-block;
}

.edit-icon {
  display: none;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: 16px;
}

.edit-icon:hover {
  color: #7289da;
}

.reaction-counts {
  margin-top: 5px;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  align-items: center;
}

.reaction-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 3px;
}

.channel-messages {
  padding: 20px;
  background-color: #36393f;
  height: 100%;
  overflow-y: auto;
}

.message-form {
  display: flex;
  margin-top: 20px;
}

.message-input {
  flex-grow: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #72767d;
  border-radius: 4px;
  background-color: #40444b;
  color: white;
}

.message-button {
  padding: 10px 20px;
  background-color: rgb(88, 101, 242);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.message-button:hover {
  background-color:  rgb(126, 137, 253);
}

.channel-label {
  color: white;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.delete-button {
  background: none;
  border: none;
  color: #b9bbbe;
  cursor: pointer;
}

.delete-button:hover {
  color: #f04747;
}
