/* Reaction.css */

.reaction-container {
  position: relative;
}

.emoji-picker-button {
  display: none;
  position: absolute;
  right: 0;
  border: none;
  background: none;
  margin-top: -30px;
  margin-left: -30px;
}

.reaction-container:hover .emoji-picker-button .icon:hover{
  display: inline-block;
  color: #007bff;
}

.reaction-counts {
  display: flex;
  gap: 5px;
  cursor: pointer;
}

.icon {
  font-size: 24px;
  color: #b9bbbe;
}
