/* Reaction.css */

.reaction-container {
  position: relative;
}

.emoji-picker-button {
  display: none; /* Initially hidden */
  position: absolute;
  right: 0;
  border: none;
  background: white;
  margin-top: -30px;
}

.reaction-container:hover .emoji-picker-button {
  display: inline-block; /* Show on hover */
}

.reaction-counts {
  display: flex;
  gap: 5px;
}

.fas {
  font-size: 24px; /* Adjust the size as needed */
  color: #b9bbbe; /* Light grey color */
}
