/* src/Layout.module.css */
.layout {
    display: flex;
    height: 100vh;
}

.navigation {
    width: 60px; /* Adjust based on your design */
    background-color: #2f3136;
}

.content {
    display: flex;
    flex: 1;
    background-color: #36393f;
    color: white;
}
